<div class="footer">
  <div class="footer-content">
    <a href="/"><h2>Words Matter.</h2></a>
    <div class="footer-copyright">
      This footer was made with <i class="fas fa-heart"></i> by Words Matter.
    </div>

  </div>
</div>
