<div class="navbar-words">
  <!-- Logo -->
  <a href="/" class="navbar-brand">
    <img src="/logo.png" alt="logo">
  </a>

  <!-- Right Navigation -->
  <div class="navbar-right hidden-xs hidden-sm">
    <a href="/" class="navbar-item navbar-link">Posts</a>
  </div>

</div>
