<!DOCTYPE html>
<html>
  <head>
    <title>Post App</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Ruda:400,700,900|Source+Sans+Pro:300,300i,400,400i,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
    <div class="container-words">
      <%= erb :'shared/navbar' %>
      <%= yield %>
    </div>
    <%= erb :'shared/footer' %>
    <script src="/javascript/banner.js"></script>
  </body>
</html>
